@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@0;1&display=swap');

*{
  text-decoration: none;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  list-style: none;
}
html{
  font-size: 62.5%;
  
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(179.48deg, #0F365A 45.4%, #C4C4C4 105.07%, #C0C1CA 105.08%);
  height: 100vh;
}  